body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 5px 0;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

.btn i {
  margin-right: 10px;
}
